{{ define "title" -}}
	{{ .Title | title }}
{{- end }}

{{ define "main" -}}
	{{ .Content }}
	{{ if .Params.summary }}
		<div class="summary">
			<h1 class="summary__label"> Summary </h1>
			<span class="summary__content">
				{{ .Summary }}
			</span>
		</div>
	{{- end }}
	<div>
		{{ range shuffle .Pages }}
			<div class="card" onclick="location.href='{{ .RelPermalink }}';">
				<h2 class="card__label">{{ .Title }}</h2>
				<small class="card__subtitle"> {{ partial "categories" . }} </small>
				<small class="card__subtitle"> 
					{{ if .Date }} 
						{{ if .GitInfo }}
							Last Modified: <a href="https://www.github.com/jesterlumos/Coterie/commit/{{ .GitInfo.Hash }}">{{ .Date | time.Format ":date_medium" }}</a> 
						{{ else }}
							Last Modified: {{ .Date | time.Format ":date_medium" }}
						{{- end }}
					{{- end }} 
				</small>
				<hr>
				{{ if .Params.tags }}
					<small class="card__subtitle"> {{ partial "tags" . }} </small>
					<hr>
				{{- end }}
				<p class="card__content"> {{ .Summary | truncate 300 }} </p>
			</div>
		{{- end }}
	</div>
{{- end }}
