<header class="header">
    <div class="header__text">
        <h1 class="header__title">
            <label class="header__nav-toggle" for="nav-toggle">&#9776;</label>
            {{ partial "breadcrumbs" . }}
        </h1>

        {{ partial "categories" .}} 
        {{ if not .IsHome }}
            {{ if .Date }} 
                {{ if .GitInfo }}
                    <small class="header__subtitle">Last Modified: <a href="https://www.github.com/jesterlumos/Coterie/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.CommitDate | time.Format ":date_medium" }}</a></small>
                {{ else }}
                    <small class="header__subtitle">Last Modified: {{ .Date | time.Format ":date_medium" }}</small>
                {{- end }}
                {{ if .Params.tags }} <hr> {{ partial "tags" .}} {{- end }}
            {{- end }} 
        {{ else }}
            <small class="header__subtitle">
                Abandon all expectations of a polished internet, celebrate growth, and explore the uncharted hypertext wilderness.
            </small>
        {{- end }}    
    </div>

    <a href="{{ .Permalink }}">
        {{ with images.QR .Permalink }}
            <img src="{{ .RelPermalink }}" width="75px" height="75px" alt="QR code for the current page" class="qr-image">
        {{ end }}
    </a>
</header>