<header class="header">
    <div class="header__text">
        <h1 class="header__title">
            <label class="header__nav-toggle" for="nav-toggle">&#9776;</label>
            {{ partial "breadcrumbs" . }}
        </h1>

        {{ partial "categories" .}} 

        <small class="header__subtitle"> 
            {{ partial "date" .}}
        </small>
        
        {{ if .IsHome }}
            <small class="header__subtitle">
                Abandon all expectations of a polished internet, celebrate growth, and explore the uncharted hypertext wilderness.
            </small>
        {{- end }}    
    </div>

    <a href="{{ .Permalink }}">
        {{ with images.QR .Permalink }}
            <img src="{{ .RelPermalink }}" width="75px" height="75px" alt="QR code for the current page" class="qr-image">
        {{ end }}
    </a>
</header>