.card {
    padding: 1em;
    border: 1px solid var(--global-font-color-special);
    border-radius: 10px;
    background-color: var(--global-background-light);
}

.card:not(.card--no-hover) {
    cursor: pointer;
}

.card:not(.card--no-hover):hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px var(--global-font-color-special);
}

.card .card__label {
    padding: 0;
    margin: 0;
}

.card__subtitle {
    color: var(--global-font-color-light);
}

.card p, .card ul li {
    line-height: 25px;
    text-align: left;
}