.summary {
    grid-column: 2 / span 1;
    text-align: left;
    border-left: 5px solid rgb(255, 72, 72);
    padding-left: 10px;
    align-self: start;
    grid-row: span 20;
    border-radius: 5px;
    padding-right: 10px;
    background-color: #2f2f2f;
}

.summary .summary__label {
    margin: 0;
}

.summary .summary__content {
    line-height: 24px;
}