.toc {
    text-align: left;
    border-left: 3px solid var(--global-font-color-special);
    align-self: start;
    border-radius: 10px;
    background-color: #2f2f2f;
    padding: .1rem;
}

.toc .toc__label {
    margin-left: 1rem;
    font-size: var(--global-font-size-header);
    margin-bottom: .5rem;
}

.toc nav ol {
    padding-left: .1rem;
    margin-top: 0;
    scroll-target-group: auto;
}

.toc nav ol li {
    margin-bottom: .25rem;
    margin-left: 1rem;
}

.toc nav ol li a {
    color: var(--global-font-color-primary);
}

.toc nav ol li a:target-current {
    color: red;
}